<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="thumbnail">
    <%= image_tag("https://yt3.ggpht.com/-CUIo7JhjYLo/AAAAAAAAAAI/AAAAAAAAAAA/ii3Q3zwVITc/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg") %>
  </div>

  <h4>Sistema IBF</h4>

  <% if flash[:notice].present? %>
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="field">
    <%= f.email_field :email, class: "login-input", autofocus: true, autocomplete: "email", placeholder: "#{t'helper.placeholder.email'}" %>
  </div>
  <div class="field">
    <%= f.password_field :password, class: "login-input", autocomplete: "off", placeholder: "#{t'helper.placeholder.password'}" %>
  </div>


  <% if devise_mapping.rememberable? -%>
    <div class="field remember-me">
      <%= f.check_box :remember_me %>
      <%= f.label t('helper.label.remember_me') %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Login", class: "login-input login-button" %>
  </div>

  <%= render "devise/shared/links" %>

<% end %>
